*{
    background-color:rgb(153, 228, 203);
}

h2{
    /* border: 2px solid green ; */
    width: 100%;
    display:flex;
    justify-content: center ;
    align-items: center ;
    background-color:rgb(247, 113, 113);
    font-size:25px;
    font-weight:bold;
}

h3{
    font-size: 25px;
    font-weight: bold ;
}

button{
    font-size: 22px ;
    font-weight:bold;
    border-radius:8px;
    background-color:rgb(167, 233, 167) ;
    /* transition-property: background-color;
    transition-duration: 2s ; */
}

button:hover{
    background-color: rgb(91, 241, 91) ;
    font-size: 23px;
}